.d-orders {
    background-image: linear-gradient(
        107deg,
        rgba(148, 14, 60, 1) 50%,
        rgba(3, 22, 27, 1) 100%
    );
}

.d-products {
    background-image: linear-gradient(
        107deg,
        rgba(150, 93, 233, 1) 50%,
        rgba(99, 88, 238, 1) 100%
    );
}

.d-users {
    background-image: linear-gradient(
        107deg,
        rgba(39, 103, 187, 1) 50%,
        rgba(16, 72, 144, 1) 100%
    );
}

.d-total-sales {
    background-image: linear-gradient(
        107deg,
        rgba(222, 74, 74, 1) 50%,
        rgba(30, 29, 29, 1) 100%
    );
}
