body,
.p-component {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    @include reset-list;
}

button,
input,
optgroup,
select,
textarea,
.p-dropdown {
    line-height: normal;
}

.p-password-input {
    width: 100%;
}
