body,
.p-component {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

a {
    text-decoration: none;
}

ul {
    @include reset-list;
}

button,
input,
optgroup,
select,
textarea {
    line-height: normal;
}
