<header>
    <div class="grid align-items-center">
        <div class="col-3">
            <div class="logo">
                <a routerLink="/">e-Shop </a>
            </div>
        </div>
        <div class="col-4 search">
            <products-search></products-search>
        </div>
        <div class="col-3 col-offset-1 navigation">
            <e-shop-menu></e-shop-menu>
        </div>
        <div class="col-1 tools">
            <i class="pi pi-user"></i>
            <i class="pi pi-shopping-cart"></i>
        </div>
    </div>
</header>
